body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: red;
}

header h2 {
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(#b7a8f8, white);
    padding: 20px 0px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, white, white, red, black);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    background-color: red;
}